# Rust build outputs
/src-tauri/target/
target/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Tauri
src-tauri/bindings*
